name: Build

on:
  schedule:
    # This builds the nightly version of Rugix.
    - cron: "0 0 * * *"
  push:
    branches:
      - "*"
    tags:
      - "v*"
  pull_request:
  workflow_dispatch:

jobs:
  build_binaries_linux:
    name: "Build Binaries (${{ matrix.target }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-linux-musl
          - aarch64-unknown-linux-gnu
          - armv7-unknown-linux-musleabihf
          - armv7-unknown-linux-gnueabihf
          - arm-unknown-linux-musleabihf
          - arm-unknown-linux-gnueabihf
          - arm-unknown-linux-musleabi
          - arm-unknown-linux-gnueabi
          - x86_64-unknown-linux-musl
          - x86_64-unknown-linux-gnu
          - i686-unknown-linux-musl
          - riscv64gc-unknown-linux-gnu
    env:
      CROSS_VERSION: "0.2.5"
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-tags: true
          fetch-depth: 0
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - name: Install Cross
        run: |
          wget "https://github.com/cross-rs/cross/releases/download/v${{ env.CROSS_VERSION }}/cross-x86_64-unknown-linux-musl.tar.gz"
          tar -xvf cross-x86_64-unknown-linux-musl.tar.gz
      - name: Build Binaries
        run: |
          export RUGIX_GIT_VERSION=$(git describe --tags --always)
          ./cross build --frozen --release --target ${{ matrix.target }}
      - name: Generate SBOMs
        run: |
          wget "https://github.com/CycloneDX/cyclonedx-rust-cargo/releases/download/cargo-cyclonedx-0.5.7/cargo-cyclonedx-x86_64-unknown-linux-musl.tar.xz"
          tar -xvf cargo-cyclonedx-x86_64-unknown-linux-musl.tar.xz
          mv cargo-cyclonedx-x86_64-unknown-linux-musl/cargo-cyclonedx /usr/local/bin/
          cargo cyclonedx -f json --target ${{ matrix.target }}
      - name: Create Artifact
        run: |
          cd target/${{ matrix.target }}/release
          for binary in rugix-*[!d]; do
            cp ../../../crates/apps/$binary/$binary.cdx.json $binary.cdx.json
          done
          tar -cf ../../../${{ matrix.target }}.tar rugix-*[!d] *.cdx.json
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.target }}
          path: ${{ matrix.target }}.tar
          if-no-files-found: error

  build_binaries_mac:
    name: "Build Binaries (${{ matrix.target }})"
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-apple-darwin
          - x86_64-apple-darwin
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0
      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          target: ${{ matrix.target }}
      - name: Build Binaries
        run: |
          export RUGIX_GIT_VERSION=$(git describe --tags --always)
          cargo build --release --target ${{ matrix.target }} --bin rugix-bundler -F xz2/static
      - name: Create Artifact
        run: |
          cd target/${{ matrix.target }}/release
          tar -cf ../../../${{ matrix.target }}.tar rugix-bundler
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.target }}
          path: ${{ matrix.target }}.tar
          if-no-files-found: error

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    needs:
      - build_binaries_linux
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Download Binaries
        uses: actions/download-artifact@v4
        with:
          pattern: binaries-*
          path: build/binaries
          merge-multiple: true
      - name: Extract Binaries
        shell: bash
        run: |
          set -euo pipefail
          cd build/binaries
          for tar_file in *.tar; do
            if [ -f "${tar_file}" ]; then
              target_name="${tar_file%.tar}"
              mkdir -p "$target_name"
              tar -xf "$tar_file" -C "$target_name"
              rm -f "$tar_file"
            fi
          done
          find .
      - name: Configure `binfmt_misc` for Foreign Architectures
        run: docker run --privileged --rm tonistiigi/binfmt --install all
      - name: Reclaim some disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf /opt/hostedtoolcache
          sudo rm -rf /mnt/* || true
      - name: Run Tests
        shell: bash
        run: |
          set -euo pipefail
          cd tests
          ./generate-test-keys.sh
          export RUGIX_BAKERY_IMAGE="ghcr.io/rugix/rugix-bakery:nightly"
          export RUGIX_BINARIES_DIR="$(pwd)/../build/binaries"
          docker pull $RUGIX_BAKERY_IMAGE
          ./run-all-tests.sh

  upload_release_assets:
    name: "Upload Release Assets"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
      - build_binaries_linux
      - build_binaries_mac
      - test
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download Binaries
        uses: actions/download-artifact@v4
        with:
          pattern: binaries-*
          path: build/binaries
          merge-multiple: true
      - name: List Binaries
        run: find build/binaries
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/binaries/*
